<header id="header" class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <%= link_to t(".library"), root_path, id:"logo" %>.
      <ul class="nav navbar-nav navbar-right list-inline">
        <li><%= link_to t(".home"), root_path %></li>
        <li><%= link_to t(".help"), help_path %></li>
        <li><%= link_to t(".login"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
